*,
*::before,
*::after { box-sizing: border-box;
 }

body {
    font-family: "Roboto", sans-serif;
     background: #FFFFFF;
    max-width: 1440px;
}
.service {
    padding: 0 135px;
}
.services {
    display: flex;
    flex-wrap: wrap;
   
    .design, .ecommerce, .aplication {
        max-width: 370px;
        max-height: 340px;
        border: 1px solid #E5EAF4;
        border-radius: 8px;
        padding: 40px;
    }
    .design:hover {
        border: 1px solid #3DB370;
        .icon {
            background-position: -6px -64px;}}
    .ecommerce:hover {
        border: 1px solid #3DB370;
        .icon.icon-store {
            background-position: -96px -64px;
        }}
    .aplication:hover {
        border: 1px solid #3DB370;
        .icon.icon-phone {
            background-position: -176px -64px;
        }}
        a {color: #3DB370;}
    .ecommerce {
        margin: 0 30px;
    }
        }

.icon {
    background-image: url("icons-sprite.svg");
    cursor: pointer;
    display: inline-block;
    width: 64px;
    height: 65px;
    background-position: -6px -5px;
    transition: all ease-in-out 0.1s;
   
}

.icon.icon-store {
    background-position: -96px -5px;
}


.icon.icon-phone {
    background-position: -176px -5px;
}
.icon.icon-phone:hover {
    background-position: -176px -64px;
}
@media screen and (max-widht: 768px) {
    .service {background-color: aqua;
 }}
 