footer {max-width: 1440px;
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    background: #16133D;
    margin-top: 100px;


    
    .logo {margin: -10px 6px;
    color: #EFEEF3;}
    .logoholder {margin: 15px 6px;
    display: flex;
        a {padding-top: 5px;}}
}
ul {padding-inline-start: 0px;}
li {display: inline-block;
    width: 38px;
    height: 38px;
    background: #EFEEF3;
    border-radius: 5px;
    align-content: center; 
    margin-left: 10px;
}
// li:hover {

// }

