  *,
  *::after,
  *::before {
  box-sizing: border-box;
  }
  body {
    text-align: left;
    color: #000000;
  }
  .body-cont {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;

  }
  a {
    color: #000000;
  }
  a:hover {
    color: #aaa
  }

  .header {
    position: sticky;
    align-items: center;
    display: flex; 
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    top: 0;
    background-color: white;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .lang {
    display: flex;
    flex-wrap: wrap;
    font-family: "tourney";
    font-size: 22px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.06em;
    padding: 20px 15px 18px 0;
  }
  .docwho {
    display: flex;
    flex-wrap: wrap;
    font-family: "staatliches";
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    padding: 15px 50px 18px 0;
  }
  .logo-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
  }
  .doc:after {
    content: "/";
    padding: 13px;
  }
  
  .main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
  }
  .side-bar {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    position: relative;
  }
  .bar-nav-item {
    padding-bottom: 70px;
    text-transform: uppercase;
    font-family: "francois_one";
    font-size: 36px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: 0.03em;
    text-align: left;
    color: #000000;
  }

  .container {
    flex-wrap: wrap;
    display: flex;
    width: 70%;
  }
  .side-bar-nav {
    max-width: 385px;
    height: max-content;
    padding: 10px;
    position: sticky;
    top: 80px;
    list-style: none;
  }
  .bg-picture {
    display: inline-block;
    width: 760px;
    max-width: 100%;
    position: fixed;
    z-index: -1;
    margin-left: 277px;
  }

  h2 {
    font-family: "francois_one";
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-right: 10px;
    margin: 0;
    margin-block: 0;
    display: inline;
  }
  sup {
    display: inline;
    font-family: "farro";
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.04em;
    vertical-align: super;
  }
  p {
    font-family: "pt_sans";
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: justify;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  p .ital-font {
    font-family: "pt_sans";
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
  }
  mark {
    font-family: "hind";
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    background-color: #c9c9c9;
  }
  .blackline {
    max-width: 100px;
    display: block;
    border-top: 8px solid #000000;
    margin-bottom: 20px;
  }


.facebook {
  background: url(src/facebook.png);
  display: flex;
  width: 270px; 
  height: 180px; 
  margin: 15px 15px;
  /* animation: rotate 3s infinite; */
}
@keyframes rotate {
  0% {
    transform: rotateX(180deg);
  }
}
.facebook:hover {
  background: url(src/facebookq.png);
  animation: rotate 2s ;
}
.instagram {
  background: url(src/instagram.png);
  display: flex;
  width: 270px; 
  height: 180px; 
  margin: 15px 15px;
}
.instagram:hover {
  background: url(src/instagramq.png);
  animation: rotate 2s ;
}
.shopify {
  background: url(src/shopify.png);
  display: block;
  width: 270px; 
  height: 180px; 
  margin: 15px 15px;
}
.shopify:hover {
  background: url(src/shopifyq.png);
  animation: rotate 2s ;
}
.skype {
  background: url(src/skype.png);
  display: block;
  width: 270px; 
  height: 180px; 
  margin: 15px 15px;
}
.skype:hover {
  background: url(src/skypeq.png);
  animation: rotate 2s ;
}
.pinterest {
  background: url(src/pinterest.png);
  display: block;
  width: 270px; 
  height: 180px; 
  margin: 15px 15px;
}
.pinterest:hover {
  background: url(src/pinterestq.png);
  animation: rotate 2s ;
}
.wix {
  background: url(src/wix.png);
  display: block;
  width: 270px; 
  height: 180px; 
  margin: 15px 15px;
}
.wix:hover {
  background: url(src/wixq.png);
  animation: rotate 2s ;
}
.saleforse {
  background: url(src/saleforse.png);
  display: block;
  width: 270px; 
  height: 180px; 
  margin: 15px 15px;
}
.saleforse:hover {
  background: url(src/saleforseq.png);
  animation: rotate 2s ;
}
.soundcloud {
  background: url(src/soundcloud.png);
  display: block;
  width: 270px; 
  height: 180px; 
 margin: 15px 15px;
}
.soundcloud:hover {
  background: url(src/soundcloudq.png);
  animation: rotate 2s ;
}
.logos {
  display: flex;
  flex-wrap: wrap;
 align-items: center;
}