.icon-holder {
    i {
        font-size: 72px;
        margin-bottom: 40px;
    }
}

.social-holder {
    i {
        font-size: 32px;
    }
}

.icon-search {
    color: #5373FD;
}

.icon-check-circle {
    color: #FF6363;
}

.icon-thumbs-up {
    color: #0e76a8;
}

.icon-quote-left {
    vertical-align: super;
    color: #5373FD;
}

.icon-facebook-f {
    color: #fff;

    &:hover {
        color: #4267B2;
    }
}

.icon-twitter {
    color: #fff;

    &:hover {
        color: #5373FD;
    }

}

.icon-linkedin {
    color: #fff;

    &:hover {
        color: #0e76a8;
    }
}

.icon-youtube {
    color: #fff;

    &:hover {
        color: #FF0000;
    }
}

.icon-pinterest {
    color: #fff;

    &:hover {
        color: #E60023;

    }
}