.footer {
    width: 100%;
    text-align: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 40px;
    background: #F4F4F4;
}