*,
*::before,
*::after { box-sizing: border-box;
 }
img {width: 100%;
}

.main {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  
    @include tablet-view {
        padding-left: 34px;
        padding-right: 34px;  
    }
    @include desktop-view {
        padding-left: 135px;
        padding-right: 135px;  
    }
    h2 {
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.05em;
    }
    h3 {
        padding-bottom: 10px;  
           @include tablet-view {
           padding-bottom: 20px;
           }
           padding-top: 40px;
           @include desktop-view {
           padding-top: 60px;}
       font-family: 'Red Hat Display';
       font-style: normal;
       font-weight: 600;
       font-size: 28px;
       line-height: 166%;
       letter-spacing: 0.1em;
   }
}
.first_text {
    @include desktop-view{
    width: 50%;}
}
.logo {
    max-width: 168px;
    padding-top: 18px;
}

p { font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.1em;
    color: #565656;
      @include tablet-view {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 32px;
      color: #565656;}

}