*,
*::before,
*::after { box-sizing: border-box;
 }
img {width: 100%;
}

.main {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  
    @include tablet-view {
        padding-left: 34px;
        padding-right: 34px;  
    }
    @include desktop-view {
        padding-left: 135px;
        padding-right: 135px;  
    }
}
.logo {
    max-width: 168px;
    padding-top: 18px;
}
h2 {
    // padding-bottom: 40px;  
    // @include tablet-view {
    //     padding-bottom: 50px;
    // }
    // padding-top: 18px;
    // @include desktop-view {
    //     padding-top: 38px;
    //     padding-bottom: 70px;
    // }
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
}
h3 {
     padding-bottom: 10px;  
        @include tablet-view {
        padding-bottom: 20px;
        }
        padding-top: 40px;
        @include desktop-view {
        padding-top: 60px;}
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 166%;
    letter-spacing: 0.1em;
}
.first_text {
    max-width: 100%;
   @include desktop-view {
    max-width: 50%;
   }
}
p { font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.1em;
    color: #565656;
      @include tablet-view {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 32px;
      color: #565656;}

}