@import "icomoon.css";
@font-face {
  font-family: "lato";
  src: url("lato-regular-webfont.woff2") format("woff2"), url("lato-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "red_hat_display";
  src: url("redhatdisplay-italic-variablefont_wght-webfont.woff2") format("woff2"), url("redhatdisplay-italic-variablefont_wght-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "red_hat_display";
  src: url("redhatdisplay-variablefont_wght-webfont.woff2") format("woff2"), url("redhatdisplay-variablefont_wght-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .main {
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media (min-width: 1024px) {
  .main {
    padding-left: 135px;
    padding-right: 135px;
  }
}
.main h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
}
.main h3 {
  padding-bottom: 10px;
  padding-top: 40px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
}
@media (min-width: 768px) {
  .main h3 {
    padding-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .main h3 {
    padding-top: 60px;
  }
}

@media (min-width: 1024px) {
  .first_text {
    width: 50%;
  }
}

.logo {
  max-width: 168px;
  padding-top: 18px;
}

p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: #565656;
}
@media (min-width: 768px) {
  p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #565656;
  }
}

.footer {
  width: 100%;
  text-align: center;
  justify-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding-bottom: 40px;
  background: #F4F4F4;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 70px;
}
@media (min-width: 768px) {
  .footer {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 50px;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding-left: 135px;
    padding-right: 135px;
  }
}
.footer h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding-bottom: 20px;
}
@media (min-width: 1024px) {
  .footer h2 {
    padding-bottom: 30px;
  }
}

.project_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.project {
  display: block;
  width: 100%;
}
@media (min-width: 1024px) {
  .project {
    text-align: left;
    width: 50%;
  }
}
.project p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.telephone {
  padding-bottom: 15px;
}

.social_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social_list a {
  padding: 0 10px;
  color: #565656;
}
@media (min-width: 1024px) {
  .social_list {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: 50%;
  }
}

ul {
  -webkit-padding-start: 1px;
          padding-inline-start: 1px;
}

li {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
}

li:hover {
  background-color: #565656;
}

.copyright {
  margin: 0 auto;
}
.copyright p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}